<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./css/dashboard.css">
    
</head>
<body>


<div id="page_wrapper">
  <div id="sidenav" class="sidenav">
    <div class="sidenav_header">
      <div class="logo_section">
        
        <h3>PTIT-Train</h3>
      </div>
      
      <a href="./dashboard.html" class="sidenav_link active">
        <i class='bx bx-home'></i>
        <h3>Ga</h3>
      </a>
      
      <a href="./dashboard_tuyenduong.html" class="sidenav_link">
        <i class='bx bx-briefcase'></i>
        <h3>Tuyến đường</h3>
      </a>
      
      <a href="./dashboard_toa.html" class="sidenav_link">
        <i class='bx bx-train'></i>
        <h3>Toa</h3>
      </a>

      <a href="./dashboard_loaitoa.html" class="sidenav_link">
        <i class='bx bx-file'></i>
        <h3>Loại toa</h3>
      </a>

      <a href="./dashboard_tau.html" class="sidenav_link">
        <i class='bx bx-file'></i>
        <h3>Tàu</h3>
      </a>
      
      <a href="./dashboard_chuyentau.html" class="sidenav_link">
        <i class='bx bx-calendar'></i>
        <h3>Chuyến tàu</h3>
      </a>

      <a href="./dashboard_bangve.html" class="sidenav_link">
        <i class='bx bx-receipt'></i>
        <h3>Bảng vé</h3>
      </a>
    </div>
    <div class="sidenav_footer">
      <a href="#" class="sidenav_link active">
        <i class='bx bx-rocket'></i>
        <h3>Liên hệ</h3>
      </a>
    </div>
    
      <button id="nav_collapse_btn">
        <i class='bx bxs-chevrons-left'></i>
      </button>
    </div>
  
    
  <main>
    <header>
      <div class="text">
        <h2>Liên lạc</h2> 
        
<table id="myTable">
  <thead>
    <tr>
      <th scope="col" width="150px">Họ tên</th>
      <th scope="col" width="220px">Email</th>
      <th scope="col" width="150px">Số điện thoại</th>
      <th scope="col">Nội dung</th>
      <th scope="col" width="100px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
    <tr>
      <td data-label="Name">Lê Hoài Duy Bình</td>
      <td data-label="Email">lehoaiduybinh2002@gmail.com</td>
      <td data-label="PhoneNumber">0707427559</td>
      <td data-label="Content" style="height: 100px;">Chào PTiT-Train chúng tôi cảm ơn bạn vì trải nghiệm khá tốt ở chỗ các bạn
      </td>
      <td data-label="Period">
        <i class="fa fa-trash ticon"></i>
        <i class="fa fa-pencil"></i>
    </tr>
  </tbody>
</table>
      </div>
      <div>
        <button id="theme_switch">
          <i class='bx bx-sun'></i>
        </button>
      </div>
      <div>
        <button class="log" id="theme_switch">
          <i style="margin-left: 8px;" class='bx bx-power-off'></i>
        </button>
      </div>
    </header>
    
    
  </main>
  
  
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./javascript/dashboard.js"></script>
<script src="./javascript/PaginationDashboardLienHe.js"></script>
</body>
</html>
