<!DOCTYPE html>
<html>

<head>
  <title>Đường sắt PTIT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./css/trave.css">
  <link rel="stylesheet" href="./css/khuyenmai.css">
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


</head>

<link rel="shortcut icon" type="image/png" href="./image/PTITIcon.png">
<link rel="stylesheet" href="./css/animation.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./css/responsive.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


<body>
  <!-- header -->
  <header class="menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="">
        <img class="logo" src="./image/tauhoa.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/src/index.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="trave.html">Trả vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thongtindatcho.html">Thông tin đặt chỗ</a>
          </li>
          <li class="nav-item">
            <a style="border-bottom: 3px solid transparent; transition: border-color 0.3s ease-in-out; border-color: #01b3a7 !important;" class="nav-link" href="khuyenmai.html">Khuyến mãi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quydinhchung.html">Quy định chung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--Bài viết khuyến mãi -->

  <div class="khuyenmai">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="text" style="margin-top: 20px;"> KHUYẾN MÃI </h1>
          <div class="panel-body">
            <p> Bạn muốn khám phá những cảnh đẹp tuyệt vời của Việt Nam, thư giãn và tận hưởng không gian yên tĩnh trên
              tàu hỏa?</p>
            <p> Đừng bỏ lỡ cơ hội mua vé tàu hỏa với giá ưu đãi chỉ từ <b>99.000 VNĐ!</b> </p>
            <p> Để tận hưởng ưu đãi này, bạn chỉ cần truy cập trang web của chúng tôi, chọn ngày, tuyến đường và loại vé
              mà bạn muốn. Sau đó, nhập mã khuyến mãi phía bên dưới vào ô mã giảm giá để được giảm giá đến <b>30%</b>
              cho tất cả các
              vé tàu hỏa.</p>
            <p>Chương trình khuyến mãi áp dụng cho tất cả các hành trình tàu hỏa trên toàn quốc từ ngày <b>1/4</b> đến
              hết ngày <b>30/4/2023</b>. Hãy đặt vé ngay hôm nay để hưởng ưu đãi giá vé hấp dẫn nhất từ trước đến nay!
            </p>
            <i> Chúng tôi luôn đồng hành cùng bạn trên mỗi chuyến hành trình!</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Các coupon giảm giá-->
  <h1 class="text" style="margin-bottom: 20px; margin-top: 30px;"> CÁC MÃ GIẢM GIÁ </h1>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Nội dung của coupon 1 -->
      <div class="coupon-container">
        <img src="./image/voucher1.png" alt="voucher1" class="kich-thuoc-voucher">
        <div class="d-flex flex-row justify-content-between off px-3 p-2">
          <span class="border px-5 rounded code copyCode">TH9832</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Nội dung của coupon 2 -->
      <div class="coupon-container">
        <img src="./image/voucher2.png" alt="voucher2" class="kich-thuoc-voucher">
        <div class="d-flex flex-row justify-content-between off px-3 p-2">
          <span class="border px-5 rounded code copyCode">RH1263</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Nội dung của coupon 3 -->
      <div class="coupon-container">
        <img src="./image/voucher3.png" alt="voucher3" class="kich-thuoc-voucher">
        <div class="d-flex flex-row justify-content-between off px-3 p-2">
          <span class="border px-5 rounded code copyCode">RH1987</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Nội dung của coupon 4 -->
      <div class="coupon-container">
        <img src="./image/voucher4.png" alt="voucher4" class="kich-thuoc-voucher">
        <div class="d-flex flex-row justify-content-between off px-3 p-2">
          <span class="border px-5 rounded code copyCode">TH3499</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Nội dung của coupon 5 -->
      <div class="coupon-container">
        <img src="./image/voucher5.png" alt="voucher5" class="kich-thuoc-voucher">
        <div class="d-flex flex-row justify-content-between off px-3 p-2">
          <span class="border px-5 rounded code copyCode">TH3921</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Nội dung của coupon 5 -->
      <div class="coupon-container">
        <img src="./image/voucher5.png" alt="voucher5" class="kich-thuoc-voucher">
        <div class="d-flex flex-row justify-content-between off px-3 p-2">
          <span class="border px-5 rounded code copyCode">RH4938</span>
        </div>
      </div>
    </div>
  </div>
  </div>



  <!-- footer -->
  <footer class="section footer-corporate context-dark">
    <div class="footer-corporate-inset">
      <div class="container">
        <div class="row row-40 justify-content-lg-between">
          <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4 right">
            <div class="oh-desktop">
              <div class="wow slideInRight" data-wow-delay="0s">
                <h6 class="text-spacing-100 animated-text text-uppercase">LIÊN HỆ VỚI CHÚNG TÔI</h6>
                <ul style="list-style: none;" class="footer-contacts d-inline-block d-sm-block animated-text">
                  <li>
                    <div class="unit">
                      <div class="unit-left "><span class="icon fa fa-phone"></span></div>
                      <div class="unit-body  "><a class="link-phone" href="tel:#">+84 0707427559</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit">
                      <div class="unit-left "><span class="icon fa fa-envelope"></span></div>
                      <div class="unit-body "><a class="link-aemail" href="mailto:#">lehoaiduybinh2002@gmail.com.vn</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="unit">
                      <div class="unit-left "><span class="icon fa fa-location-arrow"></span></div>
                      <div class="unit-body "><a class="link-location" href="#">87/2/5, ấp 7, xã XTT, huyện Hóc
                          Môn</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4 right">
            <div class="oh-desktop">
              <div class="wow slideInDown" data-wow-delay="0s">
                <h6 style="margin-left: 0px;" class="text-spacing-100 animated-text text-uppercase">TIN TỨC PHỔ
                  BIẾN
                </h6>
                <!-- Post Minimal 2-->
                <article class="post post-minimal-2">
                  <p class="post-minimal-2-title animated-text"><a href="#">5 chuyến tàu đang cháy vé nhất trong
                      đợt tết
                      này</a></p>
                  <div class="post-minimal-2-time animated-text">
                    <time datetime="2019-05-04">28/01/2023</time>
                  </div>
                </article>
                <!-- Post Minimal 2-->
                <article class="post post-minimal-2 animated-text">
                  <p class="post-minimal-2-title animated-text"><a href="#">Hướng dẫn bạn cách đặt vé tàu qua Momo
                      để
                      nhận ưu đãi</a></p>
                  <div class="post-minimal-2-time">
                    <time datetime="2019-05-04 animated-text">30/03/2023</time>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-sm-11 col-md-7 col-lg-5 col-xl-3">
            <div class="oh-desktop">
              <div class="wow slideInLeft" data-wow-delay="0s">
                <h6 class="text-spacing-100 text-uppercase animated-text">TỔNG QUÁT</h6>
                <ul style="list-style: none;"
                  class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2 animated-text">
                  <li class="bottom"><a style="color: white;" href="#">Trách nhiệm</a></li>
                  <li class="bottom"><a style="color: white;" href="#" class="bottom">Tra cứu vé tàu</a></li>
                  <li class="bottom"><a style="color: white;" href="#" class="bottom">Nổi bật</a></li>
                  <li class="bottom"><a style="color: white;" href="#" class="bottom">Bộ sưu tập</a></li>
                  <li class="bottom"><a style="color: white;" href="#">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-corporate-bottom-panel">
      <div class="container">
        <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
          <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
            <div>
              <ul class="list-inline list-inline-sm footer-social-list-2">
                <li><a class="icon fab fa-facebook" href="#"></a></li>
                <li><a class="icon fab fa-twitter" href="#"></a></li>
                <li><a class="icon far fa-envelope" href="#"></a></li>
                <li><a class="icon fab fa-instagram" href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 order-sm-first">
            <!-- Rights-->
            <p class="rights"><span>&copy;&nbsp;</span><span
                class="copyright-year">2022</span><span>&nbsp;</span><span>ThePtitTrain</span> chân thành cảm ơn
              sự ủng
              hộ của quý khách</p>
          </div>
        </div>
      </div>
    </div>
    <button id="back-to-top-btn" style="width: 55px;">
      <i class="fas fa-chevron-up"></i>
    </button>
  </footer>
</body>

</html>
<!-- Code JavaScript -->
<script src="./javascript/khuyenmai.js"></script>
<script src="./javascript/sroll.js"></script>
