<!doctype html>
<html lang="en">
  <head>
    <title>Đường sắt PTIT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/png" href="./image/PTITIcon.png">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/contact.css"> 
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
    <header class="menu">
      <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="">
        <img class="logo" src="./image/tauhoa.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/src/index.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trả vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thông tin đặt chỗ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kiểm tra vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Khuyến mãi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quy định chung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kiểm tra vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link no-border" href="#">Liên hệ</a>
          </li>
        </ul>
      </div>
     </nav> 
    </header>

    <!-- Google-Map -->
    <section class="section section-fluid">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2862771023138!2d106.69859351474905!3d10.789372192312733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b545b5903b%3A0x2381a6fe3f690419!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCBWaeG7hW4gdGjDtG5nIEPGoSBz4bufIHThuqFpIFRQLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1681178623123!5m2!1svi!2s" width="100%" height="450" style="border:0; margin-top: 115px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </section>
    
    <!-- Contact information-->
    <section class="section section-sm section-first bg-default top">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon"><i class="fa fa-mobile"></i></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="tel:#">+84 0707427559</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon"><i class="fa fa-home"></i></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="#">97 Man Thiện, Quận 9, TP. Hồ Chí Minh </a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon"><i class="fa fa-mail-bulk"></i></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="mailto:#">ThePtitTrain@gmail.com</a></p>
                </div>
              </article>
            </div>
          </div>
        </div>
    </section>

    <!-- Contact Form -->
    <div class="container top">
        <div class="row justify-content-lg-start">
          <div class="col-md-12">
            <h2 style="font-size: 50px; font-weight: 500;" class="mb-4">LIÊN LẠC</h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="name">Họ và tên:</label>
                  <input type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="email">Địa chỉ email:</label>
                  <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group col-md-4">
                  <label for="phone">Số điện thoại:</label>
                  <input type="tel" class="form-control" id="phone" pattern="[0-9]{10}" required>
                </div>
              </div>
              <div class="form-group">
                <label for="message">Nội dung:</label>
                <textarea class="form-control" id="message" rows="5" required></textarea>
              </div>
              <button style="width: 30%; height: 60px; background-color: #01b3a7;  " type="submit" class="btn btn-primary ml-auto">Gửi câu hỏi</button>
            </form>
          </div>
        </div>
    </div>
      
      <!-- footer -->
      <footer class="section footer-corporate context-dark" style="margin-top: 100px !important;">
        <div class="footer-corporate-inset">
          <div class="container">
            <div class="row row-40 justify-content-lg-between">
              <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4 right">
                <div class="oh-desktop">
                  <div class="wow slideInRight" data-wow-delay="0s">
                    <h6 class="text-spacing-100 animated-text text-uppercase">LIÊN HỆ VỚI CHÚNG TÔI</h6>
                    <ul style="list-style: none;" class="footer-contacts d-inline-block d-sm-block animated-text">
                      <li>
                        <div class="unit">
                          <div class="unit-left "><span class="icon fa fa-phone"></span></div>
                          <div class="unit-body "><a class="link-phone" href="tel:#">+84 0707427559</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left "><span class="icon fa fa-envelope"></span></div>
                          <div class="unit-body "><a class="link-aemail" href="mailto:#">ThePtitTrain@gmail.com</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left "><span class="icon fa fa-location-arrow"></span></div>
                          <div class="unit-body "><a class="link-location" href="#">97 Man Thiện, Quận 9, TP. Hồ Chí Minh</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4 right">
                <div class="oh-desktop">
                  <div class="wow slideInDown" data-wow-delay="0s">
                    <h6 style="margin-left: 0px;" class="text-spacing-100 animated-text text-uppercase">TIN TỨC PHỔ BIẾN</h6>
                    <!-- Post Minimal 2-->
                    <article class="post post-minimal-2">
                      <p class="post-minimal-2-title animated-text"><a href="#">5 chuyến tàu đang cháy vé nhất trong đợt tết này</a></p>
                      <div class="post-minimal-2-time animated-text">
                        <time datetime="2019-05-04">28/01/2023</time>
                      </div>
                    </article>
                    <!-- Post Minimal 2-->
                    <article class="post post-minimal-2 animated-text">
                      <p class="post-minimal-2-title animated-text"><a href="#">Hướng dẫn bạn cách đặt vé tàu qua Momo để nhận ưu đãi</a></p>
                      <div class="post-minimal-2-time">
                        <time datetime="2019-05-04 animated-text">30/03/2023</time>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="col-sm-11 col-md-7 col-lg-5 col-xl-3">
                <div class="oh-desktop">
                  <div class="wow slideInLeft" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase animated-text">TỔNG QUÁT</h6>
                    <ul style="list-style: none;" class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2 animated-text">
                      <li class="bottom" ><a href="#" >Trách nhiệm</a></li>
                      <li class="bottom"><a href="#" class="bottom">Tra cứu vé tàu</a></li>
                      <li class="bottom"><a href="#" class="bottom">Nổi bật</a></li>
                      <li class="bottom"><a href="#" class="bottom">Bộ sưu tập</a></li>
                      <li class="bottom"><a href="#">Blog</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-corporate-bottom-panel">
          <div class="container">
            <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
              <div class="col-sm-6 col-md-4 text-sm-right text-md-center rightFinalIcon">
                <div>
                  <ul class="list-inline list-inline-sm footer-social-list-2">
                    <li><a class="icon fab fa-facebook" href="#"></a></li>
                    <li><a class="icon fab fa-twitter" href="#"></a></li>
                    <li><a class="icon far fa-envelope" href="#"></a></li>
                    <li><a class="icon fab fa-instagram" href="#"></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 order-sm-first rightFinalFoot">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year">2022</span><span>&nbsp;</span><span>ThePtitTrain</span> chân thành cảm ơn sự ủng hộ của quý khách</p>
              </div>
            </div>
          </div>
        </div>
        <button id="back-to-top-btn" style="width: 55px;">
            <i class="fas fa-chevron-up"></i>
        </button>
   </footer>
  </body>
</html>

<!-- Code JavaScript -->
<Script src="./javascript/sroll.js"></Script>





