<!doctype html>
<html lang="en">
  <head>
    <title>Đường sắt PTIT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" type="image/png" href="./image/PTITIcon.png">
    <link rel="stylesheet" href="./css/quydinhchung.css">
    <link rel="stylesheet" href="./css/thongtindatcho.css">
    <link rel="stylesheet" href="./css/animation.css">
    <link rel="stylesheet" href="./css/contact.css"> 
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
   <header class="menu">
      <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="">
        <img class="logo" src="./image/tauhoa.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="https://lehoaiduybinh.github.io/github-WebBanVeTau/src/index.html">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="trave.html">Trả vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="thongtindatcho.html">Thông tin đặt chỗ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kiểm tra vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="khuyenmai.html">Khuyến mãi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="quydinhchung.html">Quy định chung</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kiểm tra vé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link no-border" href="lienhe.html">Liên hệ</a>
          </li>
        </ul>
      </div>
     </nav> 
    </header> 
        <div class="quydinh">
            <div class="footer-corporate-inset">
                <div class="container container3">
                    <div class="col-12">
                        <h1 class="text" style="margin-top: 18px;"> QUY ĐỊNH & MỘT SỐ ĐIỀU CẦN BIẾT KHI ĐẶT VÉ TÀU </h1>
                        <div class="panel-body">
                            <p>1. Quy định đặt chỗ</p>
                            <p>&nbsp; &nbsp;a. Khi mua vé trên ứng dụng cần điền đầy đủ thông tin về người mua vé, thông tin về hành khách đi tầu bao gồm: Họ và tên đầy đủ, giấy tờ tùy thân có ảnh hợp lệ được pháp luật công nhận (Số chứng minh thư nhân dân | Số bằng lái xe được pháp luật công nhận | Số hộ chiếu).</p>
                            <p>&nbsp; &nbsp;b. Quý khách có thể đặt chỗ cho tối đa 04 khách (không bao gồm trẻ sơ sinh) trong mỗi lần thực hiện.</p>
                            <p>&nbsp; &nbsp;c. Trẻ em dưới 10 tuổi tại thời điểm khởi hành phải được đặt chỗ đi cùng người lớn. Đối với khách hàng là trẻ em, phải điền ngày tháng năm sinh ghi trên giấy khai sinh của trẻ em được pháp luật công nhận.</p>
                            <p>&nbsp; &nbsp;d. Trẻ em dưới 6 tuổi: Miễn vé và sử dụng chung chỗ của người lớn đi kèm.</p>
                            <p>&nbsp; &nbsp;e. Trẻ em từ 6 đến dưới 10 tuổi: Giảm 25% giá vé</p>
                            <p>&nbsp; &nbsp;f. Người cao tuổi từ 60 tuổi trở lên: Giảm 15% giá vé.</p>
                            <p>&nbsp; &nbsp;i. Sinh viên: Giảm 10% giá vé.</p>
                            <p>2. Khách hàng chịu trách nhiệm trước pháp luật về tính xác thực của các thông tin cùng với tính hợp lệ tài khoản thanh toán đã được sử dụng để mua vé.</p>
                            <p>3. Khi ra ga lấy vé, Khách hàng phải đem theo giấy tờ tùy thân hợp lệ để chứng minh là người mua vé hoặc là một trong số các hành khách đi tầu cùng với mã đặt chỗ được hệ thống bán vé cung cấp. Khi giao vé cho khách hàng thư ký bán vé tại cửa vé hướng dẫn khách hàng ký nhận vé vào mặt sau của liên trắng.</p>
                            <p>4. Vé hành khách</p>
                            <p>&nbsp; &nbsp;a. Vé hành khách được thực hiện theo quy định tại khoản 2 Điều 54 Luật Đường sắt. Vé hành khách được phát hành theo hình thức vé cứng và vé điện tử.</p>
                            <p>&nbsp; &nbsp;b. Vé hành khách hợp lệ phải đảm bảo các điều kiện sau:</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Do doanh nghiệp kinh doanh vận tải hành khách, hành lý trên đường sắt (sau đây gọi tắt là doanh nghiệp) phát hành;</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Đối với vé cứng: Không bị tẩy, xóa, sửa chữa, còn đủ các thông tin và phải đi đúng chuyến tàu, thời gian ghi trên vé;</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Đối với vé điện tử: Có bản in, bản chụp thẻ lên tàu theo quy định của doanh nghiệp hoặc có bằng chứng được lưu trữ trên hệ thống cơ sở dữ liệu của doanh nghiệp, trên đó có đầy đủ các thông tin cá nhân trùng khớp với một trong các giấy tờ quy định tại khoản 2 Điều 5 của Thông tư này.</p>
                            <p>&nbsp; &nbsp;c. Khi phát hành vé cứng, vé điện tử, doanh nghiệp phải thông báo công khai và hướng dẫn các quy định cho hành khách cách sử dụng vé để đảm bảo quyền lợi, nghĩa vụ của hành khách.</p>
                            <p>5. Quy định về bán vé hành khách</p>
                            <p>&nbsp; &nbsp;a. Doanh nghiệp phải tổ chức bán vé tại nhiều địa điểm, nhiều ngày trước thời điểm tàu chạy, nhiều phương thức bán vé tạo điều kiện thuận lợi cho người mua vé.</p>
                            <p>&nbsp; &nbsp;b. Trường hợp cần thiết, doanh nghiệp có thể đề nghị người mua vé cung cấp giấy tờ tùy thân hoặc các giấy tờ khác có đầy đủ các thông tin cá nhân được pháp luật công nhận. Trường hợp mua vé trực tuyến qua mạng thông tin điện tử, người mua vé phải cung cấp đầy đủ thông tin cần thiết theo quy định của doanh nghiệp.</p>
                            <p>&nbsp; &nbsp;c. Căn cứ vào từng thời điểm cụ thể, từng loại chỗ, từng loại tàu, doanh nghiệp quy định cụ thể việc ghi họ, tên, số giấy hoặc số thẻ lên vé theo một trong các giấy tờ quy định tại khoản 2 Điều này.</p>
                            <p>6. Mua vé đi tàu tập thể, trọn toa, trọn cụm toa xe khách</p>
                            <p>&nbsp; &nbsp;a. Việc tổ chức mua, bán vé tàu tập thể, trọn toa, trọn cụm toa xe khách thực hiện theo quy định của doanh nghiệp và các quy định tại Thông tư này.</p>
                            <p>&nbsp; &nbsp;b. Doanh nghiệp có trách nhiệm đảm bảo quyền lợi của hành khách theo quy định của pháp luật.</p>
                            <p>7. Trả lại vé, đổi vé đi tàu</p>
                            <p>&nbsp; &nbsp;Hành khách có quyền trả lại vé, đổi vé trước giờ tàu chạy. Doanh nghiệp quy định cụ thể mức khấu trừ tương ứng với thời gian trả lại vé, đổi vé và các nội dung khác có liên quan đến việc trả lại vé, đổi vé của hành khách.</p>
                            <p>8. Quy định về hành lý</p>
                            <p>&nbsp; &nbsp;a. Hành khách không phải mua vé đối với hành lý xách tay trong phạm vi khối lượng và chủng loại theo quy định của doanh nghiệp. Trường hợp vượt quá khối lượng quy định thì hành khách phải mua vé theo quy định của doanh nghiệp.</p>
                            <p>&nbsp; &nbsp;b. Hành khách, người gửi hành lý ký gửi phải mua vé cho hành lý ký gửi.</p>
                            <p>&nbsp; &nbsp;c. Trường hợp khối lượng hành lý xách tay của hành khách đã có các quy định theo điều ước quốc tế mà nước Cộng hòa xã hội chủ nghĩa Việt Nam là thành viên thì thực hiện theo quy định của điều ước quốc tế đó.</p>
                            <p>9. Quy định gửi hành lý ký gửi</p>
                            <p>&nbsp; &nbsp;a. Hành khách, người gửi hành lý ký gửi có trách nhiệm phải ghi đúng, đủ nội dung của tờ khai gửi hàng, đúng tên hàng hóa theo mẫu do doanh nghiệp quy định và chịu trách nhiệm về tính trung thực của việc kê khai, tính hợp pháp của hàng hóa trong hành lý ký gửi.</p>
                            <p>&nbsp; &nbsp;b. Doanh nghiệp tổ chức kiểm tra bao bì, số lượng, ký hiệu, mã hiệu, biểu trưng đặc tính của hàng hóa và xác nhận vào tờ khai gửi hàng.</p>
                            <p>10. Quy định vận tải hành lý</p>
                            <p>&nbsp; &nbsp;a. Hành lý được vận tải phải tuân thủ các quy định tại Điều 7 của Thông tư này.</p>
                            <p>&nbsp; &nbsp;b. Hành lý là vật dụng, hàng hóa không thuộc loại bị nghiêm cấm vận chuyển trong vận tải đường sắt, trường hợp vật dụng, hàng hóa là hàng nguy hiểm, động vật sống, thi hài, hài cốt phải tuân thủ các quy định tại các Điều 62, Điều 63, Điều 64 của Luật Đường sắt và các quy định của pháp luật có liên quan.</p>
                            <p>&nbsp; &nbsp;c. Hành lý xách tay do hành khách đóng gói phải có đồ chứa đựng đảm bảo an toàn hành lý, không để các tính chất, đặc tính tự nhiên của hàng hóa ảnh hưởng đến hành khách khác và được để đúng nơi quy định trên toa hành khách, do hành khách tự bảo quản.</p>
                            <p>&nbsp; &nbsp;d. Hành lý ký gửi phải đảm bảo các điều kiện sau:</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Hành lý ký gửi phải được hành khách, người gửi hành lý ký gửi đóng gói chắc chắn theo đúng quy định của doanh nghiệp về kích thước, trọng lượng mỗi kiện hàng. Đảm bảo không bị mất mát, giảm khối lượng, hư hỏng hoặc giảm chất lượng trong quá trình vận chuyển;</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Bên ngoài bao gói của hành lý ký gửi phải có các thông tin sau: Họ tên, địa chỉ, số điện thoại, số fax (nếu có) của hành khách, người gửi hành lý ký gửi, người nhận hành lý ký gửi; số hiệu vé hành lý ký gửi; ký hiệu, biểu trưng đặc tính của hàng hóa;</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Trước khi nhận vận chuyển, doanh nghiệp có trách nhiệm kiểm tra bao gói và yêu cầu sửa chữa, bổ sung cho đúng quy định, trường hợp nghi ngờ về tính xác thực của hàng hóa chứa bên trong, doanh nghiệp được quyền yêu cầu hành khách, người gửi hành lý ký gửi mở bao gói để kiểm tra.</p>
                            <p>11. Mất vé, thẻ lên tàu</p>
                            <p>&nbsp; &nbsp;a. Trường hợp hành khách bị mất vé cứng thì hành khách báo cho nhân viên của doanh nghiệp. Trường hợp hành khách chứng minh được quyền sở hữu vé, doanh nghiệp có trách nhiệm cấp Giấy xác nhận để hành khách tiếp tục đi tàu. Mẫu Giấy xác nhận do doanh nghiệp quy định.</p>
                            <p>&nbsp; &nbsp;b. Trường hợp hành khách bị mất thẻ lên tàu thì giải quyết như sau:</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Hành khách phải cung cấp cho doanh nghiệp về các thông tin của mình khi mua vé;</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; - Trên cơ sở dữ liệu quản lý vé điện tử đã bán cho hành khách, đại diện doanh nghiệp cung cấp lại thẻ lên tàu cho hành khách đã mua.</p>
                            <p>&nbsp; &nbsp;c. Trường hợp doanh nghiệp không có đủ cơ sở để xác minh được là hành khách đã có vé đi tàu thì hành khách phải mua vé bổ sung theo quy định của doanh nghiệp hoặc hành khách phải xuống tàu tại ga gần nhất tàu có đỗ.</p>
                            <p>12. Nghĩa vụ của hành khách, người gửi hành lý ký gửi</p>
                            <p>&nbsp; &nbsp;a. Thanh toán tiền vận chuyển hành lý ký gửi và các chi phí theo quy định của doanh nghiệp trước khi được vận chuyển. Trong quá trình vận chuyển nếu có phát sinh chi phí phải thanh toán cho doanh nghiệp.</p>
                            <p>&nbsp; &nbsp;b. Có vé đi tàu hợp lệ.</p>
                            <p>&nbsp; &nbsp;c. Trẻ em từ đủ 10 tuổi trở xuống (nếu không xác định được tuổi thì có chiều cao dưới 1,32 m) đi tàu phải có người lớn đi kèm.</p>
                            <p>&nbsp; &nbsp;d. Khi có yêu cầu của doanh nghiệp, hành khách, người đi tàu có trách nhiệm xuất trình vé và một trong các giấy tờ quy định tại khoản 2 Điều 5 của Thông tư này, các giấy tờ khác theo quy định của doanh nghiệp khi vào, ra ga, trạm, khi lên tàu, khi ở trên tàu.</p>
                            <p>&nbsp; &nbsp;e. Người say rượu, người mất trí, người có bệnh truyền nhiễm, người có bệnh tật mà bác sỹ chỉ định không di chuyển hoặc xét thấy có thể nguy hiểm đến bản thân người đó khi đi tàu phải có người đi cùng trông nom và người có bệnh truyền nhiễm đã được cách ly an toàn.</p>
                            <p>&nbsp; &nbsp;f. Thực hiện các nghĩa vụ khác theo quy định tại khoản 2, Điều 60 Luật Đường sắt.</p>
                            <p>13. Quy định về các khoản phí</p>
                            <p>&nbsp; &nbsp;Tổng số tiền thanh toán đã bao gồm thuế, bảo hiểm hành khách phải trả trên toàn bộ hành trình.</p>
                            <i>Trân trọng cảm ơn!</i>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
      <!-- footer -->
      <footer class="section footer-corporate context-dark" style="margin-top: 100px !important;">
        <div class="footer-corporate-inset">
          <div class="container">
            <div class="row row-40 justify-content-lg-between">
              <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4 right">
                <div class="oh-desktop">
                  <div class="wow slideInRight" data-wow-delay="0s">
                    <h6 class="text-spacing-100 animated-text text-uppercase">LIÊN HỆ VỚI CHÚNG TÔI</h6>
                    <ul style="list-style: none;" class="footer-contacts d-inline-block d-sm-block animated-text">
                      <li>
                        <div class="unit">
                          <div class="unit-left "><span class="icon fa fa-phone"></span></div>
                          <div class="unit-body "><a class="link-phone" href="tel:#">+84 0707427559</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left "><span class="icon fa fa-envelope"></span></div>
                          <div class="unit-body "><a class="link-aemail" href="mailto:#">ThePtitTrain@gmail.com</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit">
                          <div class="unit-left "><span class="icon fa fa-location-arrow"></span></div>
                          <div class="unit-body "><a class="link-location" href="#">97 Man Thiện, Quận 9, TP. Hồ Chí Minh</a></div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-5 col-lg-3 col-xl-4 right">
                <div class="oh-desktop">
                  <div class="wow slideInDown" data-wow-delay="0s">
                    <h6 style="margin-left: 0px;" class="text-spacing-100 animated-text text-uppercase">TIN TỨC PHỔ BIẾN</h6>
                    <!-- Post Minimal 2-->
                    <article class="post post-minimal-2">
                      <p class="post-minimal-2-title animated-text"><a href="#">5 chuyến tàu đang cháy vé nhất trong đợt tết này</a></p>
                      <div class="post-minimal-2-time animated-text">
                        <time datetime="2019-05-04">28/01/2023</time>
                      </div>
                    </article>
                    <!-- Post Minimal 2-->
                    <article class="post post-minimal-2 animated-text">
                      <p class="post-minimal-2-title animated-text"><a href="#">Hướng dẫn bạn cách đặt vé tàu qua Momo để nhận ưu đãi</a></p>
                      <div class="post-minimal-2-time">
                        <time datetime="2019-05-04 animated-text">30/03/2023</time>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="col-sm-11 col-md-7 col-lg-5 col-xl-3">
                <div class="oh-desktop">
                  <div class="wow slideInLeft" data-wow-delay="0s">
                    <h6 class="text-spacing-100 text-uppercase animated-text">TỔNG QUÁT</h6>
                    <ul style="list-style: none;" class="row-6 list-0 list-marked list-marked-md list-marked-secondary list-custom-2 animated-text">
                      <li class="bottom" ><a href="#" >Trách nhiệm</a></li>
                      <li class="bottom"><a href="#" class="bottom">Tra cứu vé tàu</a></li>
                      <li class="bottom"><a href="#" class="bottom">Nổi bật</a></li>
                      <li class="bottom"><a href="#" class="bottom">Bộ sưu tập</a></li>
                      <li class="bottom"><a href="#">Blog</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-corporate-bottom-panel">
          <div class="container">
            <div class="row justfy-content-xl-space-berween row-10 align-items-md-center2">
              <div class="col-sm-6 col-md-4 text-sm-right text-md-center rightFinalIcon">
                <div>
                  <ul class="list-inline list-inline-sm footer-social-list-2">
                    <li><a class="icon fab fa-facebook" href="#"></a></li>
                    <li><a class="icon fab fa-twitter" href="#"></a></li>
                    <li><a class="icon far fa-envelope" href="#"></a></li>
                    <li><a class="icon fab fa-instagram" href="#"></a></li>
                  </ul>
                </div> 
              </div>
              <div class="col-sm-6 col-md-4 order-sm-first rightFinalFoot">
                <!-- Rights-->
                <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year">2022</span><span>&nbsp;</span><span>ThePtitTrain</span> chân thành cảm ơn sự ủng hộ của quý khách</p>
              </div>
            </div>
          </div>
        </div>
        <button id="back-to-top-btn" style="width: 55px;">
            <i class="fas fa-chevron-up"></i>
        </button>
   </footer>
  </body>
</html>

<!-- Code JavaScript -->
<Script src="./javascript/thongtindatcho.js"></Script>





