.button-preNext {
  display: flex;
  justify-content: space-between;
}

.back-button {
  background-color: #01b3a7 !important;
  float: right;
  width: 15% !important;
  color: white;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #01b3a7 !important;
  float: right;
  width: 15% !important;
  color: white;
  border-radius: 5px;
}


.apply-button {
  background-color: #01b3a7 !important;
  float: left;
  width: 100% !important;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.center-align {
  text-align: center;
}

/* tạo viền cho select đối tượng*/
select {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .table-responsive table {
    display: block;
  }

  .table-responsive table tr {
    display: block;
    margin-bottom: 10px;
  }

  .table-responsive table td,
  .table-responsive table th {
    display: block;
    text-align: left;
  }
}

.thanh-tien {
  line-height: 6;
}

.khuyen-mai:not(:first-child) {
  margin-top: 250px;
}