.button-preNext {
  display: flex;
  justify-content: space-between;
}

.back-button {
  background-color: #01b3a7 !important;
  float: right;
  width: 45% !important;
  padding: 0%;
  color: white;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #01b3a7 !important;
  float: right;
  width: 45% !important;
  height: 20% !important;
  color: white;
  border-radius: 5px;
}


.apply-button {
  background-color: #01b3a7 !important;
  float: left;
  width: 100% !important;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.center-align {
  text-align: center;
}

/* tạo viền cho select đối tượng*/
select {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .table-responsive table {
    display: block;
  }

  .table-responsive table tr {
    display: block;
    margin-bottom: 10px;
  }

  .table-responsive table td,
  .table-responsive table th {
    display: block;
    text-align: left;
  }
}

.common-class {
  flex: 1 0 100%;
  text-align: right; 
  margin-bottom: 90px;
}
.common-class:nth-child(2) {
  flex-basis: 100%;
  text-align: right; /* Các chữ nằm bên phải */
  margin-top: 100px; /* Khoảng cách trên div */
  
}

.divDoiTuong {
  margin-top: 20px;
}