/* style */
a:hover {
    color: #01b3a7 !important;
    text-decoration: none !important;
}

a {
    color: white !important;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #01b3a7;
  }

.top {
  margin-top: 70px;
}

.card-title{
  text-align: center;
}

.card-text {
  text-align: center;
}

.right {
    margin-right: 20px;
}

/* Menu */
.navbar {
    background-color: #162e44 !important;
   
}

.navbar .logo {
    width: 109px;
    height: 85px;
    background-color: transparent !important;
    margin-right: 40px;

}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: white;
    font-family: "Montserrat", sans-serif, Arial, sans-serif;
}

.no-border {
    border: none !important;
}

/* Form bán vé tàu hỏa */
/* Container */
/* .booking-form {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 30px auto;
    max-width: 600px;
  } */
  .booking-form {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 30px auto;
    max-width: 600px;
  }
  .form-group {
    margin-bottom: 20px;
  }

  .form-group .form-check {
    display: block !important;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="datetime-local"],
  select {
    background: #f7f7f7;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  select option {
    color: #333;
  }
  
  button[type="submit"] {
    background: #4CAF50;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  button[type="submit"]:hover {
    background: #3e8e41;
  }

/* Đánh giá khách hàng */
  .page-item.disabled .page-link {
    background-color: #162e44 !important;
  }

  .page-item.active .page-link {
    background-color: #162e44 !important;
  }

  .page-item .page-link {
    background-color: #162e44 !important;
  }

  .justify-content-center {
    margin-top: 30px;
  }

  .image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    text-align: center;
  }

/* Địa điểm nổi bật */
  .card .card-body {
    background-color: #f0bc23 !important;
  }

/* section */
  .bg-image .text-white .title h2{
    text-shadow: 2px 2px 5px #162e44;
    font-family: "Montserrat", sans-serif, Arial, sans-serif !important;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400 !important;
  }
  

  .bg-image .text-white .describe p{
    text-shadow: 2px 2px 5px #162e44;
    font-family: "Montserrat", sans-serif, Arial, sans-serif !important;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400 !important;
  }
/* footer */

 footer{
    font-family:"Montserrat", sans-serif, Arial, sans-serif;
    margin-top: 50px;
 }

.footer-corporate {
    background-color: #162e44;
    color: #f9f9f9;
    padding: 45px 0;
  }
  
  .footer-corporate .footer-contacts li {
    margin-bottom: 15px;
  }
  
  .footer-corporate .footer-contacts a {
    color: #f9f9f9;
    font-weight: 500;
  }
  
  .footer-corporate .footer-contacts a:hover {
    color: #f0bc23;
  }
  
  .footer-corporate h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 25px;
  }
  
  .footer-corporate .post-minimal-2 {
    margin-bottom: 20px;
  }
  
  .footer-corporate .post-minimal-2-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  
  .footer-corporate .post-minimal-2-title a {
    color: #f9f9f9;
  }
  
  .footer-corporate .post-minimal-2-title a:hover {
    color: #f0bc23;
  }
  
  .footer-corporate .post-minimal-2-time {
    font-size: 14px;
    color: #808080;
  }
  
  .footer-corporate-bottom-panel {
    background-color: #11263a; 
    padding: 20px 0; 
   }

   .list-inline > li {
    display: inline-block;
    text-align: center; 
    margin-right: 15px;
    margin-top: 20px;
    
  }

  .customer-reviews {
  font-family: Arial, sans-serif;
}

.rating {
  color: #ffcc00;
  font-size: 20px;
  margin-bottom: 10px;
}

.comment {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.reviewer-info {
  font-size: 14px;
}

.name {
  font-weight: bold;
  margin-right: 5px;
}

.date {
  color: #888;
}


.footer-corporate .unit-left {
  display: inline-block;
}

.footer-corporate .unit-body {
  display: inline-block;
}

.footer-corporate .rights{
  color: rgba(255, 255, 255, 0.3) !important;
}

.footer-corporate .list-inline li  a {
  color: rgba(255, 255, 255, 0.3);
}
 
.footer-corporate .list-inline li  a:hover {
  color: #01b3a7;
}

/* Responsive riêng cho trang chủ */
@media (min-width: 992px) {
  .rightFinalFoot{
      right: -42px;
  }
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #01b3a7;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#back-to-top-btn:hover {
  background-color: #333;
}

@media (min-width: 992px){
  .form-check-input {
    margin-top: 0.3rem !important;
    margin-left: -18.25rem !important;
  }
}

@media (max-width: 576px){
  .form-check-input {
    margin-top: 0.38rem !important;
    margin-left: -11.85rem !important;
  }

  footer{
    height: 659px !important;
}
}


  

