.quydinh .text {
    text-align: center;
    color: #01b3a7;
}

.h1, h1 {
    font-size: 4rem;
  }
.quydinh i {
    color: #01b3a7;
}

/* Res mobile */
@media (max-width: 576px){
    .container3{
        margin-right: 37px !important;
        margin-left: -21px !important;
    }
}
